<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>QuestionServlet</servlet-name>
  	<display-name>QuestionServlet</display-name>
  	<description></description>
  	<servlet-class>com.best.exam_manager.controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnswerServlet</servlet-name>
  	<display-name>AnswerServlet</display-name>
  	<description></description>
  	<servlet-class>com.best.exam_manager.controller.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestionServlet</servlet-name>
  	<url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnswerServlet</servlet-name>
  	<url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
</web-app>
